{% extends 'core/base.html' %} {% load static %} {% block head_title %}EasyInvest{% endblock %} {% block content %}
<div class="container mx-auto flex flex-col md:flex-row items-center my-12 md:my-24">

    <div class="w-full lg:w-1/2 lg:py-6 text-center">
        {% comment %} <h1 style="font-size: 12rem" class="font-black text-blue-900 text-opacity-50">&#x20B1;&#x20B1;</h1> {% endcomment %}
    </div>
    <div class="flex flex-col w-full lg:w-1/2 justify-center items-start pt-12 pb-24 px-6 bg-white rounded-2xl bg-opacity-70">
        <h1 class="font-bold text-4xl my-4">Gerencie seus investimentos de forma simplificada</h1>
        <p class="leading-normal mb-4">
            EasyInvest é a sua nova plataforma de gerenciamento de investimentos projetada para simplificar e aprimorar sua experiência financeira. Estamos comprometidos em oferecer as ferramentas e recursos necessários para que você possa tomar decisões informadas e alcançar seus objetivos financeiros com confiança.

        </p>
        <div class="flex justify-end w-full">
            <a href="{% url 'accounts:user_registration' %}" class="bg-blue-900 text-white rounded-none hover:bg-white hover:text-blue-900 hover:border-blue-900 shadow hover:shadow-lg py-2 px-4 border border-gray-900 hover:border-transparent">Cadastre-se</a>
        </div>
    </div>
</div>

{% endblock %}